{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">

    <h4>  About Page </h4>

<p>
    Python is a widely used general-purpose, high level programming language.
    It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation.
    It was designed with an emphasis on code readability,
    and its syntax allows programmers to express their concepts in fewer lines of code
</p>
    <p>
        Python is a widely used general-purpose, high level programming language.
    It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation.
    It was designed with an emphasis on code readability,
    and its syntax allows programmers to express their concepts in fewer lines of code
    </p>




{% endblock content %}